[user]
           name = Thomas Blakely
          email = thomas.blakely@gmx.com
[core]
         editor = vim
[color]
         status = auto
         branch = color.interactive
    interactive = auto
           diff = auto
[http]
      sslVerify = false
          proxy = "http://<username>:<password>@<address>:<port>"
proxyAuthMethod = basic
[https]
      sslVerify = false
[credential]
         helper = store
